asgiref==3.12.1
brotli==1.2.0
click==8.4.2
dj-database-url==3.1.2
Django==6.1
gunicorn==26.0.0
h11==0.16.0
lxml @ file:///home/builder/.termux-build/python-lxml/src
packaging==26.3
proot-distro @ file:///home/builder/.termux-build/proot-distro/src
psycopg2-binary==2.9.12
pycairo==1.29.0
PyGObject==3.56.3
python-decouple==3.8
sqlparse==0.6.0
uvicorn==0.52.1
whitenoise==6.12.0
